ol{
    background-color: yellow;
}

h1, h3{
    color: red;
}

li{
    font-size: 20px;
}

.numero-par{
    color: green;
}

.numero-primo{
    text-transform: uppercase;
}

.linguagens-azul{
    color: blue;
}

.fundo-rosa{
    background-color: pink;
}

h1 em{
    font-size: 40px;
    border: 1px solid black;
}

li em{
    font-weight: 700;
}

ul li a:hover{
    font-weight: 800;
}

#stack:hover{
    color: orange;
}

#w3:hover{
    color: green;
}

#mdn:hover{
    color: black;
}

#dev:hover{
    color: yellow;
}

#trybe:hover{
    color: greenyellow;
}
